<!-- <form (ngSubmit)="onSubmit()" [formGroup]="addCustomerForm"> -->

    <div class="row rowCustom">
       <div class="col-md-12">
            <h6 class="headingTV">Customer Information</h6>
       </div>
       <div class="col-md-4">
          <div class="card">
             <!-- <div class="card-header customHeader">Account Details <i class="fa fa-fw fa-edit iconCustom"></i></div> -->
             <div class="card-body customCardBody">
                <div class="row flexNoWrap">
                  <div class="col-md-6">
                     <h6 class="headingTV">Account Details</h6> 
                  </div>
                  <div class="col-md-6">
                     <button type="button" class="btn btn-primary btn-xs float-sm-right">
                        Edit
                     </button>
                  </div>
                  <div class="col-md-12"><hr></div>
                   <!-- <div class="col-xs-6"> -->
                      <div class="col-md-5">
                         <div class="form-group col-md-12 customClassCompact">
                            <label class="labelCustom">Account Name: </label>
                         </div>
                         <div class="form-group col-md-12 customClassCompact">
                            <label class="labelCustom">Address Line 1: </label>
                         </div>
                         <div class="form-group col-md-12 customClassCompact">
                            <label class="labelCustom">Zip Code: </label>
                         </div>

                         <div class="form-group col-md-12 customClassCompact">
                            <label class="labelCustom">City: </label>
                         </div>

                         <div class="form-group col-md-12 customClassCompact">
                            <label class="labelCustom">Country: </label>
                         </div>

                         <div class="form-group col-md-12 customClassCompact">
                            <label class="labelCustom">State: </label>
                         </div>

                         <div class="form-group col-md-12 customClassCompact">
                            <label class="labelCustom">Currency: </label>
                         </div>
                      </div>
                   <!-- </div> -->
                   <!-- <div class="col-xs-6"> -->
                      <div class="col-md-7">
                         <div class="form-group col-md-12 customClassCompact">
                            <input type="text" class="form-control form-control-sm" value="sony" disabled placeholder="Address Name" required>
                         </div>
                         <div class="form-group col-md-12 customClassCompact">
                            <input type="text" class="form-control form-control-sm" value="115 W, Century Road" disabled placeholder="Address Phone" required>
                         </div>
                         <div class="form-group col-md-12 customClassCompact">
                            <input type="text" class="form-control form-control-sm" value="76542" disabled placeholder="Zip" required>
                         </div>

                         <div class="form-group col-md-12 customClassCompact">
                            <input type="text" class="form-control form-control-sm" value="Paramus" disabled placeholder="Zip" required>
                         </div>

                         <div class="form-group col-md-12 customClassCompact">
                            <input type="text" class="form-control form-control-sm" value="United States" disabled placeholder="Zip" required>
                         </div>

                         <div class="form-group col-md-12 customClassCompact">
                            <select class="form-control form-control-sm" disabled> 
                                <option value="">Please select</option>
                                <option value="active">Active</option>
                                <option value="inactive">Inactive</option>
                             </select>
                         </div>

                         <div class="form-group col-md-12 customClassCompact">
                            <input type="text" class="form-control form-control-sm" value="US Dollars" disabled placeholder="Zip" required>
                         </div>
                      </div>
                   <!-- </div> -->
                </div>
             </div>
          </div>
       </div>
       <div class="col-md-8">
          <div class="card">
              <!-- <div class="card-header customHeader">Contact Details <i class="fa fa-fw fa-edit iconCustom"></i></div> -->
              <div class="card-body customCardBody">
                 <div class="row flexNoWrap">
                  <div class="col-md-6">
                     <h6 class="headingTV">Contact Details</h6>
                  </div>
                     <div class="col-md-6">
                        <button type="button" class="btn btn-primary btn-xs float-sm-right">
                           Edit
                        </button>
                     </div>
                     <div class="col-md-12"><hr></div>
                    <!-- <div class="col-xs-3"> -->
                       <div class="col-md-2">
                          <div class="form-group col-md-12 customClassCompact">
                             <label class="labelCustom">Language: </label>
                          </div>
                          <div class="form-group col-md-12 customClassCompact">
                             <label class="labelCustom">Salutation: </label>
                          </div>
                          <div class="form-group col-md-12 customClassCompact">
                             <label class="labelCustom">First Name: </label>
                          </div>
 
                          <div class="form-group col-md-12 customClassCompact">
                             <label class="labelCustom">Last Name: </label>
                          </div>
 
                          <div class="form-group col-md-12 customClassCompact">
                             <label class="labelCustom">Email: </label>
                          </div>
 
                          <div class="form-group col-md-12 customClassCompact">
                             <label class="labelCustom">Business Phone: </label>
                          </div>
 
                          <div class="form-group col-md-12 customClassCompact">
                             <label class="labelCustom">Fax Number: </label>
                          </div>
                       </div>
                    <!-- </div> -->
                    <!-- <div class="col-xs-3"> -->
                       <div class="col-md-4">
                          <div class="form-group col-md-12 customClassCompact">
                             <input type="text" class="form-control form-control-sm" value="English" disabled placeholder="Address Name" required>
                          </div>
                          <div class="form-group col-md-12 customClassCompact">
                             <input type="text" class="form-control form-control-sm" value="Mr." disabled placeholder="Address Phone" required>
                          </div>
                          <div class="form-group col-md-12 customClassCompact">
                             <input type="text" class="form-control form-control-sm" value="Alan" disabled placeholder="Zip" required>
                          </div>
 
                          <div class="form-group col-md-12 customClassCompact">
                             <input type="text" class="form-control form-control-sm" value="Parker" disabled placeholder="Zip" required>
                          </div>
 
                          <div class="form-group col-md-12 customClassCompact">
                             <input type="text" class="form-control form-control-sm" value="alan_parker@testmail.com" disabled placeholder="Zip" required>
                          </div>

                          <div class="form-group col-md-12 customClassCompact">
                              <input type="text" class="form-control form-control-sm" value="20131201453" disabled placeholder="Zip" required>
                           </div>
                           
                           <div class="form-group col-md-12 customClassCompact">
                              <input type="text" class="form-control form-control-sm" value="" disabled placeholder="" required>
                           </div>

                           
                           
                       </div>
                    <!-- </div> -->

                    <!-- <div class="col-xs-3"> -->
                        <div class="col-md-2">
                           <div class="form-group col-md-12 customClassCompact">
                              <label class="labelCustom">Address Line 1: </label>
                           </div>
  
                           <div class="form-group col-md-12 customClassCompact">
                              <label class="labelCustom">Zip Code: </label>
                           </div>
  
                           <div class="form-group col-md-12 customClassCompact">
                              <label class="labelCustom">City: </label>
                           </div>
 
                           <div class="form-group col-md-12 customClassCompact">
                               <label class="labelCustom">Country: </label>
                            </div>
  
                           <div class="form-group col-md-12 customClassCompact">
                               <label class="labelCustom">State: </label>
                            </div>
 
                            <div class="form-group col-md-12 customClassCompact">
                               <label class="labelCustom">Invoice/Letter Mail: </label>
                            </div>
                        </div>
                     <!-- </div> -->
                     <!-- <div class="col-xs-3"> -->
                        <div class="col-md-4">
                            <div class="form-group col-md-12 customClassCompact">
                               <input type="text" class="form-control form-control-sm" value="115 Y, Test Road" disabled placeholder="" required>
                            </div>
 
                            <div class="form-group col-md-12 customClassCompact">
                               <input type="text" class="form-control form-control-sm" value="76566" disabled placeholder="" required>
                            </div>
 
                            <div class="form-group col-md-12 customClassCompact">
                               <input type="text" class="form-control form-control-sm" value="Paranums" disabled placeholder="" required>
                            </div>
 
                            <div class="form-group col-md-12 customClassCompact">
                               <input type="text" class="form-control form-control-sm" value="United States  " disabled placeholder="" required>
                            </div>
                           <div class="form-group col-md-12 customClassCompact">
                              <select class="form-control form-control-sm" disabled> 
                                  <option value="">Please select</option>
                                  <option value="active">Active</option>
                                  <option value="inactive">Inactive</option>
                               </select>
                           </div>
                           <div class="form-group col-md-12 customClassCompact">
                              <input type="checkbox" class="form-control form-control-sm move-left" disabled  required>
                           </div>
                        </div>
                     <!-- </div> -->
                 </div>
              </div>
           </div>
       </div>
    </div>



    <!-- <div class="row">
        <div class="col-md-12">
           <div class="card">
              <div class="card-header">Customer Info</div>
              <div class="card-body">
                 <div class="row">
                    <div class="col-xs-3">
                       <div class="col-md-12">
                          <div class="form-group">
                            <h6 class="box-title">Delivery Address</h6>
                            <input type="text" class="form-control" id="customerName" name="customerName" value="" placeholder="Name">
                          </div>
                       </div>
                    </div>
                    <div class="col-xs-3">
                       <div class="col-md-12">
                          <div class="form-group">
                              <h6 class="box-title">Delivery Date</h6>
                                <div class="input-group date">
                                  <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                  </div>
                                  <input type="text" class="form-control pull-right" id="requestShiptDate" name="requestShiptDate" value="" placeholder="Requested Ship Date">
                                </div>
                            </div>
                       </div>
                    </div>
                    <div class="col-xs-3">
                      <div class="col-md-12">
                        c
                      </div>
                    </div>
                    <div class="col-xs-3">
                      <div class="col-md-12">
                        d
                      </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div> -->




    <div class="row">
      <!-- <div class="col-md-12">
         <br><h6 class="headingTV">New Purchase Cart</h6>
      </div> -->
       <div class="col-md-10">
          <div class="card">
             <!-- <div class="card-header customHeader">Shopping Cart</div> -->
             <div class="card-body">
                <div class="row">
                     <div class="col-md-12">
                           <h6 class="headingTV">New Purchase Cart</h6><hr>
                        </div>
                     <div class="col-md-12">
                        <div class="card mb-1">
                           <!-- <div class="card-header">Small table</div> -->
                           <table class="table table-sm">
                               <thead class="theadCustom">
                               <tr>
                                   <th></th>
                                   <th>Product</th>
                                   <th>Price</th>
                                   <th>Discount</th>
                                   <th>Actions</th>
                               </tr>
                               </thead>
                               <tbody class="tbodyCustom">
                               <tr>
                                   <th>1</th>
                                   <td>Subscription of BL <!-- <input type="text" value="Subscription of BL" disabled >--></td>
                                   <td>US$588.00<!--<input type="text" value="678$" disabled >--></td>
                                   <td>US$12.00<!--<input type="text" value="14$" disabled >--></td>
                                   <td><i class="fa fa-fw fa-edit"></i></td>
                               </tr>
                               </tbody>
                           </table>
                       </div>
                     </div>
                </div>
             </div>
          </div>
       </div>
       <div class="col-md-2">
          <div class="card">
             <!-- <div class="card-header customHeader">Summary</div> -->
             <div class="card-body">
                <div class="row">
                  <div class="col-md-12">
                     <h6 class="headingTV">Summary</h6><hr>
                  </div>
                   <div class="col-md-12">
                      <p class="paragraphCustom"><b>Subscription of Business License US$588.00</b> Annual<br>1 License</p>
                      <hr/>
                      <div class="d-flex justify-content-between tbodyCustom">
                        <div class="col-xs-6">
                            Total
                        </div>
                        <div class="col-xs-6">
                            US$588.00
                        </div>
                    </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>


    <div class="row">
      <div class="col-md-12">
         <div class="card">
            <!-- <div class="card-header customHeader">Custom Order Details</div> -->
            <div class="card-body">
               <div class="row flexNoWrap">
                  <div class="col-md-12">
                     <h6 class="headingTV">Custom Order Details</h6><hr>
                  </div>
                  <div class="col-xs-12">
                     <div class="custom-control custom-checkbox">
                        <input type="checkbox" checked="true" class="custom-control-input" id="defaultUnchecked">
                        <label class="custom-control-label labelCustom" for="defaultUnchecked">Show Salutation on Invoice</label>
                     </div>
                  </div>
                  
               </div>
               <div class="row">
                  <div class="col-md-6">
                     <div class="form-group">
                        <label for="comment" class="labelCustom">Custom Description: (442 Character, 9 lines available)</label>
                        <textarea class="form-control" rows="4"></textarea>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="form-group">
                        <label for="comment" class="labelCustom">Comments:</label>
                        <textarea class="form-control" rows="4"></textarea>
                     </div>   
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>


   <div class="row">
         <div class="col-md-12">
            <div class="card">
               <!-- <div class="card-header customHeader">Details for TeamViewer Products</div> -->
               <div class="card-body">
                  <div class="row flexNoWrap">
                        <div class="col-md-12">
                              <h6 class="headingTV">Details for TeamViewer Products</h6><hr>
                           </div>
                     <div class="col-xs-12">
                        <div class="custom-control custom-checkbox">
                           <input type="checkbox" class="custom-control-input">
                           <label class="custom-control-label labelCustom">Change Estimated Payment Days: Payment in <input type="text" value="14" class="smallInputBox" > days </label>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
    

      <div class="row">
            <div class="col-md-6">
               <div class="card">
                  <!-- <div class="card-header customHeader">Order Origin</div> -->
                  <div class="card-body">
                     <div class="row flexNoWrap">
                           <div class="col-md-12">
                                 <h6 class="headingTV">Order Origin</h6><hr>
                              </div>
                        <div class="col-xs-12">
                              <div class="form-group">
                                    <div class="col-lg-12">
                                       <div class="radio">
                                          <label class="labelCustom">
                                          <input value="inbound" type="radio">Sales & Customer Care Inbound</label>
                                       </div>   
                                       <div class="radio">
                                          <label class="labelCustom">
                                          <input value="outbound" type="radio">Sales & Customer Care Outbound</label>
                                       </div> 
                                       <div class="radio">
                                          <label class="labelCustom">
                                          <input value="kam" type="radio">KAM</label>
                                       </div> 
                                       <div class="radio">
                                          <label class="labelCustom">
                                          <input value="reseller" type="radio">Reseller</label>
                                       </div> 
                                       <div class="radio">
                                          <label class="labelCustom">
                                          <input value="bizdev" type="radio">BizDev</label>
                                       </div>      
                                    </div>
                                   </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>

            <div class="col-md-6">
                  <div class="card">
                     <!-- <div class="card-header customHeader">Coupen</div> -->
                     <div class="card-body">
                        <div class="row flexNoWrap">
                              <div class="col-md-12">
                                    <h6 class="headingTV">Coupen</h6><hr>
                                 </div>
                           <div class="col-xs-12">
                              <div class="form-group">
                                 <label class=" labelCustom" for="defaultUnchecked"> Type a coupan code: <input type="text" value="" > </label>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
         </div>

         <div class="row">
               <div class="col-md-12">
                  <div class="card">
                     <!-- <div class="card-header customHeader">Payment Method</div> -->
                     <div class="card-body">
                        
                        <div class="row flexNoWrap">
                              <div class="col-md-12">
                                    <h6 class="headingTV">Payment Method</h6><hr>
                                 </div>
                              <div class="col-md-12">
                                    <label>Select New Payment Method</label>
                              </div>
                           <div class="col-xs-12">
                                 <div class="form-group">
                                       <div class="col-lg-12">
                                          <div class="radio">
                                             <label class="labelCustom">
                                             <input value="invoice" type="radio">Invoice</label>
                                          </div>   
                                          <div class="radio">
                                             <label class="labelCustom">
                                             <input value="creditCard" type="radio">Credit Card</label>
                                          </div>    
                                       </div>
                                      </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>

            <div class="row">
               <div class="col-md-12">
                     <button type="button" class="btn btn-sm btn-primary">Order Now</button>
               </div>
            </div>