.customClassCompact{
    margin-bottom: 2px;
}

.flexNoWrap{
    flex-wrap: nowrap;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    margin-top: 10px;
}

.customHeader{
    height: 23px;
    padding: 0;
    font-size: 13px;
    font-weight: bold;
}

.labelCustom{
    font-size: x-small;
}

.move-left {
    width: auto;
    box-shadow: none;
  }

.iconCustom{
    float: right;
    margin-top: 4px;
}

.theadCustom{
    font-size: 12px;
    font-weight: bold;
}
.tbodyCustom{
    font-size: 15px;
}

.paragraphCustom{
    font-size: 10px;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

  .smallInputBox {
    width: 22px;
  }

  .headingTV{
    color: #0D89E5;
  }

  .btn-xs{
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
  }

  
.rowCustom {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    /* margin-top: 10px; */
}

.customCardBody {
    flex: 1 1 auto;
    padding: 0rem 0.5rem;
}

hr {
    margin-top: 0rem;
    margin-bottom: 0.5rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}