<h3>Customer Basic Info</h3>
  <form  (ngSubmit)="createCustomerForm(myform)" class="form form-login" method="POST">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="customerName" name="customerName" value="Dutch Saeed Customer" required>
    </div>

    <div class="form-group">
      <label for="alterEgo">Email</label>
      <input type="text" class="form-control" id="customerEmail" name="customerEmail" value="netherland@customer.com">
    </div>

    <div class="form-group">
      <label for="alterEgo">Phone</label>
      <input type="text" class="form-control" id="customerPhone" name="customerPhone" value="0123456789">
    </div>

    <div class="form-group">
      <label for="alterEgo">Customer Type</label>
      <input type="text" class="form-control" id="CustomerType" name="CustomerType" value="Organization" disabled>
    </div>
    <h3>Delivery Information</h3>
    <div class="form-group">
      <label for="alterEgo">Name</label>
      <input type="text" class="form-control" id="addressName" name="addressName" value="Dutch">
    </div>

    <div class="form-group">
      <label for="alterEgo">Street</label>
      <input type="text" class="form-control" id="addressStreet" name="addressStreet" value="Prinses Beatrixlaan 23">
    </div>

    <div class="form-group">
      <label for="alterEgo">City</label>
      <input type="text" class="form-control" id="addressCity" name="addressCity" value="S-Gravenhage">
    </div>

    <div class="form-group">
      <label for="alterEgo">ZipCode</label>
      <input type="text" class="form-control" id="addressZipCode" name="addressZipCode" value="2595">
    </div>

    <div class="form-group">
      <label for="alterEgo">State</label>
      <input type="text" class="form-control" id="addressState" name="addressState" value="">
    </div>

    <div class="form-group">
      <label for="alterEgo">Phone</label>
      <input type="text" class="form-control" id="addressPhone" name="addressPhone" value="0123456789">
    </div>
    <button type="submit" class="btn btn-success">Submit</button>

  </form>